* {
     box-sizing: border-box;
}
body {
     background: rgba(245, 208, 78, 1);
     display: flex;
     align-items: center;
     justify-content: center;
}
.container {
     background: white;
     width: 400px;
     height: 510px;
     padding: 16px;
     border-radius: 12px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 10px;
     transition: 0.4s;
}
.container:hover {
     box-shadow: 12px 10px 10px 0 rgba(0, 0, 0, 1.2);
}
.avatar {
     display: flex;
     gap: 6px;
     font-weight: 600;
}
.imgi {
     height: 201px;
     width: 336px;
     border-radius: 10px;
     overflow: hidden;
}
.exp {
     margin: 0px;
     padding: 0px;
     width: 336px;
}
h3 {
     /* color: rgba(236, 204, 92, 1); */
     color: black;
     cursor: pointer;
     transition: 0.4s;
}
h3:hover {
     color: rgba(236, 204, 92, 1);
}
.learn {
     background: rgba(236, 204, 92, 1);
     border: none;
     padding: 5px 10px;
     font-weight: 600;
     border-radius: 4px;
     /* cursor: pointer; */
}
.explaination {
     font-size: 0.9rem;
     color: rgba(149, 149, 149, 1);
}
.date {
     font-size: 0.8rem;
}
@media screen and (max-width: 480px) {
     .container {
          width: 90%;
     }
}

